.buyer-wrapper {
  border-radius: 5px;
  background-color: #191C38;
  color: white;
  flex-wrap: wrap;
  // font-size: 26px;
}

.descrition {
  font-size: 50%;
}

.participate {
  margin-left: -10px;
}

.btn:hover {
  background-color: #F16922;
  color: white;
}

.btn {
  color: white;
  border: 1px solid #24284C;
}