.modal-title>h3 {
  margin: auto;
}

#triangle {
  position: absolute;
  top: -10px;
  right: 105px;
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 15px solid transparent;

  border-bottom: 10px solid #2c3162;
}

.btn-close {
  // width: 16px !important;
  // padding: unset !important;
  width: 5px;
  height: 5px;
  border: 1px solid white;
  border-radius: 50%;
  background: transparent url('../../../public/assets/image/icons/x.svg');
  background-size: 80% 80%;
  font-size: 16px;
  line-height: 120%;
  background-position: center;
  background-repeat: no-repeat;

}

.wallet-btn {
  display: flex !important;
  flex-direction: row;
  justify-content: space-between !important;
  align-items: center;
  padding: 6px 20px;
  margin-bottom: 10px;
  background: rgba(31, 35, 50, 0.4);
  /* #F16922 */
  cursor: pointer;
  border: 0.5px solid rgba(126, 151, 236, 0.3);
  backdrop-filter: blur(12.5px);
  /* Note: backdrop-filter has minimal browser support */
  color: white;
  border-radius: 6px;

  

  h3 {
      margin: auto;
      font-size: 16px;
      line-height: 120%;
      font-weight: 500;
  }
}
.wallet-btn:hover {
  color: #F16922;
  border: 0.5px solid #F16922;
}